@import '../../assets/styles/utils';

.search {
  @include font-size-m;
  margin-right: $spacing-01;
  position: relative;

  & > svg {
    position: absolute;
    top: 15px;
    left: $spacing-00-75;
    color: $slight-dark;
  }

  &__input {
    font-family: $font-family;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid $border;
    outline-color: $primary;
    padding: 0 $spacing-02;
    font-family: $font-family;

    @include font-size-m;

    @include for-mobile {
      width: 150px;
    }

    @include for-mobile-small {
      width: 105px;
    }
  }
}
