@import './assets/styles/utils';
@import './assets/styles/reset';

.app {
  font-family: $font-family;
  padding-top: $spacing-07-50;
  // box-sizing: border-box;

  & > * {
    @include center(1080px);
  }

  &__filter {
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $spacing-03;

    @include for-mobile-small {
      // display: block;
    }
  }
}
